.App {
  width: 70%;
  padding: 25px;
  background-color: #f4f7fc;
  margin: auto;
  text-align: center;
}

.App-wrapper {
  text-align: left;
  max-width: 350px;
  margin: auto;
}

.App-header {
  color: #f57a65;
}

.Add-To-Do {
  padding: 10px 15px;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #c5c5c5;
  border-radius: 5px;
  width: 100%;
}

.Add-To-Do-Wrapper {
  display: flex;
  justify-content: center;
}

.Add-To-Do::placeholder {
  color: #c5c5c5;
  font-style: italic;
}

.Add-To-Do-button {
  background-color: #4343f6;
  padding: 0px 15px;
  border-radius: 5px;
  margin-left: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.Add-To-Do-button:disabled {
  background-color: #dddddd;
  border: none;
}

.To-Do-List {
  padding-left: 0;
  list-style: none;
}

.To-Do {
  background: #e0e8f5;
  border-radius: 5px;
  padding: 13px 15px;
  display: flex;
  margin-bottom: 10px;
}

.To-Do-Label {
  flex-grow: 1;
}

/*
.Checkbox-Label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

 Hide the browser's default checkbox 
.Checkbox-Label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

Create a custom checkbox 
.CheckMark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

 On mouse-over, add a grey background color 
.Checkbox-Label:hover input ~ .CheckMark {
  background-color: #ccc;
}

 When the checkbox is checked, add a blue background 
.Checkbox-Label input:checked ~ .CheckMark {
  background-color: #2196f3;
}

 Create the checkmark/indicator (hidden when not checked) 
.CheckMark:after {
  content: "";
  position: absolute;
  display: none;
}

 Show the checkmark when checked 
.Checkbox-Label input:checked ~ .CheckMark:after {
  display: block;
}

 Style the checkmark/indicator 
.Checkbox-Label .CheckMark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
*/
